:root {
  --green: #64ffda;
  /*scroll-snap-type: block proximity;*/
}

body {
  font-family: 'Space Mono', sans-serif;
  font-size: 18px;
  color: var(--green);
}
a{
  color: var(--green);
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  /*background-image: url("https://raw.githubusercontent.com/CharithLahiru/Personal-Portfolio/main/img/Space.jpg");*/
  /*background-image: url("/img/Space .jpg");*/
  /*width: 99.2vw;*/
  width: 100%;
  /*height: 100vh;*/
  height: 100%;
  z-index: -1;
  /*scroll-snap-align: start;*/
}

.background-image:nth-child(2) {
  top: 100vh;
  width: calc(90vw - 100px);
  background-image: none;
}

#name {
  animation-name: name;
  animation-duration: 6s;
  font-size: 1.5rem;
  width: 100%;
}

@keyframes name {
  from {
    transform: translatey(50vh);
    font-size: 8vw;
    font-weight: bold;
  }
  15% {
    transform: translatey(50vh);
    font-size: 8vw;
    font-weight: bold;
    font-family: Audiowide, sans-serif;
  }
  to {
    font-family: Audiowide, sans-serif;
  }
}

#top-menu {
  height: 60px;
  width: 100vw;
  position: fixed;
  background-color: rgba(10, 21, 40, 0.89);
  border-bottom: 2px solid lawngreen;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#name {
  position: absolute;
  left: 5vw;
  top: 0;
  padding: 10px;
  width: 90vw;
  text-align: left;
  height: 100%;
}
#top-menu-right {
  position: absolute;
  right: 5vw;
  top: 0;
  text-align: right;
  height: 100%;
  padding: 10px;
}
/*#top-menu > div {*/
/*  display: flex;*/
/*  width: 90vw;*/
/*  justify-content: space-between;*/
/*}*/
#top-menu-right{
  display: flex;
}
#top-menu-right>div{
  padding: 10px;
}
#top-menu-right > div:hover{
  color: lawngreen;
  cursor: pointer;
}

#Resume {
  animation-name: hilight;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  border: 2px solid lawngreen;
  background-color: rgba(10, 21, 40, 0.89);
  border-radius: 0.25rem;
  box-shadow: 2px 2px 5px lawngreen;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-delay: 20ms;
  animation-timing-function: ease-in-out;
}

#Resume > a {
  color: lawngreen;
  text-decoration: none;
}

#Resume:hover {
  background-color: lawngreen;
}

#Resume > a:hover {
  color: rgba(10, 21, 40, 0.89);
  /*text-shadow: 0 0 5px rgba(10, 21, 40, 0.89);*/
  font-weight: bold;
}


@keyframes hilight {
  40% {
    scale: 1;
  }
  45% {
    scale: 1.2;
    transform: rotate(0deg);
  }
  47.5% {
    transform: rotate(10deg);
  }
  52.5% {
    transform: rotate(-10deg);
  }
  55% {
    scale: 1.2;
    transform: rotate(0deg);
  }
  60% {
    scale: 1;
  }
}


header {
  position: relative;
  font-family: Audiowide, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  max-width: 100vw;
}

.background-image-bellow {
  top: 0;
  left: 0;
  position: fixed;
  /*background-image: url("https://raw.githubusercontent.com/CharithLahiru/Personal-Portfolio/main/img/Sky.jpg");*/
  background-image: url("/img/Sky .jpg");
  background-color: #0A192F;
  opacity: 0.9;
  background-position: center;
  /*width: 100vw;*/
  width: 100%;
  /*height: 100vh;*/
  height: 100%;
  z-index: -2;
  background-size: cover;
}

/*header > div:last-child {*/
/*  margin-left: 20px;*/
/*}*/

/*header > div:nth-child(2) {*/
/*  margin-left: 20px;*/
/*}*/

#top-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*padding: 20vh 10px 0 100px;*/
}

#my-name {
  top: 150px;
  color: lawngreen;
  padding: 80px 20px;
  font-size: 1.7rem;
  margin-left: 50px;
  /*width: 300px;*/
}

#my-name > span:nth-child(2) {
  text-shadow: 4px 5px 3px #179b23;
  margin-left: 50px;
}

#description {
  color: lawngreen;
  max-width: 1000px;
  left: 150px;
  top: 550px;
  font-size: 1.2rem;
  padding: 40px 0;
  text-align: center;
}

#intro {
  color: lawngreen;
  max-width: 1000px;
  left: 150px;
  top: 250px;
  font-size: 3.75rem;
  text-align: center;
}

#img-coder {
  display: flex;
  right: -1300px;
  top: 350px;
  width: 400px;
  height: 500px;
  padding: 0 100px 0 0;
  background-image: url('/img/dp.png');
  background-size: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  border-radius: 50%;
}
#img-coder:hover{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
#img-coder-background{
  border-radius: 50%;
  background: linear-gradient(315deg,#3a50b3,#3fdb3a);
  filter: grayscale(100%);
  border-radius: 50%; 
}
#img-coder-background:hover{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}



menu {
  width: 5.5rem;
  height: 100vh;
  position: sticky;
  left: 0;
  top: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 25px;
  z-index: 3;

}

menu > span > a > svg {
  width: 1.78rem;
  height: 1.78rem;
}

menu > span > a > svg:hover {
  transform: scale(1.3);
  transition-duration: 500ms;
}

menu > div {
  width: 1px;
  height: 20vh;
  background-color: lawngreen;
}


#icon-hand {
  animation-name: wave;
  animation-delay: 5s;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  position: absolute;
  margin-left: -20px;
}

@keyframes wave {
  25% {
    scale: 1.4;
  }
  37.5% {
    rotation-point: bottom;
    rotate: -50deg;
    transform: translatey(-5px);
  }
  62.5% {
    rotation-point: bottom;
    rotate: 50deg;
    transform: translatey(-5px);

  }
  75% {
    scale: 1.4;
  }
}

.slide-left {
  animation-name: slider-left;
  animation-duration: 7s;
}

@keyframes slider-left {
  from {
    transform: translateX(-100vw);
  }
  50% {
    transform: translateX(-100vw);
  }
}

.slide-right {
  animation-name: slider-right;
  animation-duration: 7s;
}

@keyframes slider-right {
  from {
    transform: translateX(100vw);
  }
  50% {
    transform: translateX(100vw);
  }
}


#main-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: -102vh;
}

#about-me {
  /*position: absolute;*/
}

.primary-section > h2 {
  color: white;
}

.primary-section {
  background-color: #090915;
  opacity: .7;
  max-width: 600px;
  margin: 100px 0 0 20vw;
  border: 3px solid rgba(0, 191, 255, 0.64);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.primary-section:nth-child(2n) {
  align-self: end;
  margin: 100px 20vw 0 0;
}

.primary-section > hr {
  border-color: var(--green);
  width: 300px;
  left: 0;
  margin-top: 0px;
  margin-left: 20px;
}

#project-container {
  margin: 100px 20vw 0 20vw;
}

#project-container > h2 {
  color: white;
  text-align: center;
}

.projects {
  color: var(--green);
  width: 30vw;
  background-color: #071a31;
  padding: 10px;
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 50px 0;
}

footer > div {
  width: 50vw;
  max-width: 700px;
  text-align: center;
  /*background-color: #090915;*/
  opacity: .7;
}

footer > div > div:nth-child(1) {
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
}

footer > div > div {
  padding-top: 50px;
  text-shadow:  0 0 20px #c1d1ef;
}

footer > div > div:last-child {
  font-size: 0.8rem;
  padding-top: 100px;
}


@media all and (max-width: 540px) {
  body {
    /*font-size: 16px;*/
    font-size: 14px;
  }

  #top-menu > div {
    width: 90%;
  }

  header {
    border-left: 10vw;
    border-right: 10vw;
  }

  #top-text {
    padding: 10px;
  }

  #my-name {
  }

  header > div:nth-child(2) {
    margin-left: 0px;
  }

  header > div:last-child {
    margin-left: 0;
  }

  #intro {
    font-size: 35px;
    margin: 0 0;
  }

  #description {
    font-size: 16px;
  }

  #img-coder {
    /*display: flex;*/
    /*right: -1300px;*/
    top: 350px;
    width: 200px;
    padding: 0 0 50px 0;
  }

  .primary-section > hr {
    margin-left: 10px;
  }


  menu {
    visibility: hidden;           /* show manu*/
  }
  menu > span > a > svg {
    width: 1.78rem;
    height: 1.78rem;
  }


  .primary-section {
    /*max-width: 600px;*/
    margin: 100px 10vw 0 10vw;
  }

  .primary-section:nth-child(2n) {
    align-self: center;
    margin: 100px 10vw 0 10vw;
  }

  #project-container {
    margin: 100px 15vw 0 10vw;
    text-align: center;
  }
  .projects {
    color: var(--green);
    width:  100%;
    background-color: #071a31;
    padding: 10px;
  }

  footer > div {
    width: 80vw;
  }
  footer > div > div:nth-child(3) {
    padding-top: 50px;
  }

}

@media all and (max-width: 1400px) {
  header {
    flex-direction: column;
  }
}

